<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Connection" value="PassManDb"/>
	</appSettings>

	<connectionStrings>
		<add name="PassManDb"
			 providerName="Microsoft.EntityFrameworkCore.Sqlite"
			 connectionString="~/.passman/data/db.sqlite"/>
	</connectionStrings>
</configuration>